<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='/vite.svg') }}" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- 引入jQuery库 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
  <!-- 引入jQuery contextMenu插件的JavaScript文件 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>
  <!-- 引入定位插件的JavaScript文件，用于定位上下文菜单 -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- 引入Axios库 -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vite + Vue</title>
  <script type="module" crossorigin src="{{ url_for('static', filename='/assets/index-5bb01056.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='/assets/index-c822f0bd.css') }}">
</head>

<body>
  <div id="app"></div>

</body>

</html>